@use 'variables' as *;

a {
    text-decoration: underline dashed $color-link;

    &:hover:not(.btn) {
        text-decoration: underline solid $color-link;
    }
}

body {
    font-size: $font-size;
    font-family: $font-family-body;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-heading;
}

.content-frame {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    position: relative;
    overflow-x: hidden;

    &-header {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;

        @at-root {
            .navbar-float & {
                padding-top: $navbar-height;
            }
        }
    }

    &-body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        flex-grow: 1;
    }

    &-footer {
        margin: auto 0 0;
        padding: 0;
        width: 100%;
        display: block;
    }

    &-splashscreen {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: $z-index-splashscreen;

        @at-root {
            body.splashscreen & {
                visibility: visible;
                opacity: 1;
            }
        }

        .preloader-area {
        }
    }
}

.page-section {

    &-heading {
        padding: 0;
        margin: 0 0 40px;
        font-family: $font-family-title;
        font-size: $font-size-28;
    }
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $font-family-body;
    // border: 2px solid transparent;
    // outline: none;
    border-radius: 0;
    // text-transform: uppercase;
}

.form-control {
    color: $color-black;
    background-color: $color-white;
    font-size: $font-size-16;
    border: 1px solid $color-black;
    border-radius: 0;
    box-shadow: none;
    transition: $transition;

    &::placeholder {
        font-size: $font-size;
        font-weight: normal;
        // color: #93979b;
    }

    &:hover {
        border: 1px solid $color-black;
    }

    &:focus {
        color: $color-black;
        background-color: $color-white;
        font-size: $font-size-16;
        border: 1px solid $color-black;
        border-radius: 0;
        outline: none;
        box-shadow: none;
    }
}

.form-check-input {
    cursor: pointer;
    transition: $transition;

    &[type=checkbox] {
        width: 18px;
        height: 18px;
        border-radius: 0;
        border-color: $color-black;
        vertical-align: middle;
    }

    &:focus {
        border-color: $color-black;
        outline: 0;
        box-shadow: none;
    }

    &:checked {
        background-color: $color-primary;
        border-color: $color-black;
    }

    // .form-check-input:checked[type=checkbox] {
    //     --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
    // }
}

.form-label {
    color: $color-black;
    font-weight: normal;

    a {
        font-weight: normal;
    }
}

.form-select {
    border: 1px solid $color-black;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    color: $color-black;
    background-color: $color-white;
    font-size: $font-size-16;
    // font-weight: 500;
    transition: $transition;

    &:hover {
        border: 1px solid $color-black;
    }

    &:focus {
        border: 1px solid $color-black;
        box-shadow: none;
        outline: none;
        border-radius: 0;
    }
}

.navbar {
    background-color: $color-white;
}

.accordion-button {
    font-weight: 500;
    font-size: $font-size-18;
    box-shadow: none;
    background-color: transparent;
    transition: $transition;
    border: 1px solid transparent;

    &:focus {
        box-shadow: none;
        background-color: transparent;
        border: 1px solid $color-black;
    }

    &:not(.collapsed) {
        color: $color-black;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid $color-black;
    }
}

.navbar-toggler {
    border: none;
    border-radius: 0;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.nav-item {
    text-align: center;
}

section#faq {
    // background-color: $color-primary;
}

.masthead {
    &-image {
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        overflow: hidden;

        @media (min-width: $grid-breakpoint-lg-min) {
            height: 100%;
        }

        &-overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .4);
        }

        &-content {
            padding: 40px 100px 80px;

            h1 {
                color: $color-white;
                font-family: $font-family-heading;
            }
        }
    }

    &-brand {
        height: 291px;
        padding: 20px 30px;
        color: $color-white;
        background-color: $color-black;
        font-family: $font-family-body;
        font-size: $font-size-18;
        text-align: center;

        &-image {
            width: 100%;
            max-width: 180px;
            max-height: 180px;
        }

        &-name {
            color: $color-white;
            font-family: $font-family-title;
            font-size: $font-size-28;
            font-weight: 400;
        }
    }

    &-desc {
        height: 291px;
        padding: 40px 40px;
        background-color: $color-primary;
        font-family: $font-family-body;
        font-size: $font-size-21;
        // font-style: italic;
        text-align: center;
    }
}