@use 'variables' as *;

.navbar {
    padding: 10px 16px;
    height: 60px;
    background-color: $color-secondary;
    transition: background-color .25s linear;
    border-bottom: 1px solid rgba(0, 0, 0, .17);

    @media (min-width: $grid-breakpoint-lg-min) {
        padding: 10px 16px;
        height: 65px;
    }

    @at-root {
        body.navbar-dynamic:not(.page-scroll-100) & {
            background-color: transparent;
            border-bottom: 1px solid transparent;

            @media (min-width: $grid-breakpoint-lg-min) {
            }
        }
    }

    &-brand {
        height: 100%;
        display: inline-block;

        img {
            max-height: 100%;
        }

        &-img {
            display: inline-block;

            @at-root {
                body.navbar-dynamic:not(.page-scroll-100) & {
                    display: none;
                }
            }

            &-white {
                display: none;

                @at-root {
                    body.navbar-dynamic:not(.page-scroll-100) & {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &-toggler {
        padding: 1px 0 {
            left: 8px;
        };
        border: none;
        border-radius: 0;
        outline: none;
        box-shadow: none;

        &:hover,
        &:active,
        &:focus {
            @extend .navbar-toggler;
        }
    }

    &-toggle-icon {
        margin: 8px 0;
        padding: 0;
        display: block;
        width: 28px;
        height: 2px;
        background-color: $color-black;
        border-radius: 4px;
        opacity: .5;
        transition: opacity .15s linear;

        &:hover {
            opacity: .9;
        }

        @at-root {
            body.navbar-dynamic:not(.page-scroll-100) & {
                background-color: $color-white;
                opacity: .9;

                &:hover {
                    opacity: .98;
                }

                &::before {
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                }
            }
        }

        &::before {
            @extend .navbar-toggle-icon;
            content: "";
            margin: 0;
            transform: translateY(-8px);
            opacity: 1;
        }

        &::after {
            @extend .navbar-toggle-icon;
            content: "";
            margin: 0;
            transform: translateY(6px);
            opacity: 1;
        }
    }

    .offcanvas {
        width: $sidebar-width;

        @media (min-width: $grid-breakpoint-lg-min) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: auto;
        }

        &-header {
            .btn-close {
                &:focus {
                    box-shadow: none;
                }
            }
        }

        &-body {
            @media (min-width: $grid-breakpoint-lg-min) {
                display: inline-block;
                flex-grow: unset;
            }

            &-v {
                @media (min-width: $grid-breakpoint-lg-min) {
                    width: $sidebar-width;
                    background-color: $color-secondary;
                    display: block;
                    position: fixed;
                    top: 65px;
                    right: auto;
                    bottom: 0;
                    left: 0;
                }

                nav {
                    width: auto;

                    @media (min-width: $grid-breakpoint-lg-min) {
                        width: 100%;
                    }

                    .nav {
                        margin: 0;
                        padding: 20px 0 0;
                        width: auto;

                        @media (min-width: $grid-breakpoint-lg-min) {
                            width: 100%;
                        }

                        &-item {
                            margin: 0;
                            padding: 0;
                            width: auto;
                            color: $color-white;

                            @media (min-width: $grid-breakpoint-lg-min) {
                                width: 100%;
                            }
                        }

                        &-link {
                            margin: 0;
                            padding: 14px 16px {
                                left: 30px;
                            };
                            width: auto;
                            color: inherit;

                            &:hover,
                            &:active,
                            &:focus {
                                color: inherit;
                                background-color: rgba(255, 255, 255, .1);
                            }

                            @media (min-width: $grid-breakpoint-lg-min) {
                                width: 100%;
                                font-size: $font-size-12;
                                font-weight: 500;
                                text-transform: uppercase;
                            }

                            .icon {
                                @media (min-width: $grid-breakpoint-lg-min) {
                                    margin-right: 12px;
                                    font-size: $font-size-15;
                                    opacity: .88;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-footer {
            padding: 16px;

            @media (min-width: $grid-breakpoint-lg-min) {
                padding: 0;
                margin-left: 30px;
                width: auto;
                display: flex;
            }
        }
    }

    &-nav {
        .menu-item {
            margin: 1px 0;
            padding: 0;
            width: 100%;

            @media (min-width: $grid-breakpoint-lg-min) {
                margin: 0 5px;
                padding: 0;
                width: auto;
            }

            &.current-menu-item {
                position: relative;

                &:before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    display: inline-block;
                    background-color: $color-primary;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);

                    @media (min-width: $grid-breakpoint-lg-min) {
                        display: none;
                    }
                }

                a {
                    @media (min-width: $grid-breakpoint-lg-min) {
                        color: $color-secondary !important;

                        body.navbar-dynamic:not(.page-scroll-100) & {
                            color: $color-secondary;
                        }
                    }

                    &:hover {
                        @media (min-width: $grid-breakpoint-lg-min) {
                            color: $color-secondary !important;
                        }
                    }
                }
            }

            a {
                margin: 0;
                padding: 12px 16px {
                    left: 24px;
                };
                width: 100%;
                display: block;
                color: $color-primary;
                font-weight: 400;
                font-family: $font-family-heading;

                @media (min-width: $grid-breakpoint-lg-min) {
                    margin: 0;
                    padding: 4px 10px;
                    width: auto;
                    display: inline-block;
                    font-size: $font-size-12;
                    text-transform: uppercase;
                }

                body.navbar-dynamic:not(.page-scroll-100) & {
                    @media (min-width: $grid-breakpoint-lg-min) {
                        color: $color-white;
                    }
                }

                &:hover {
                    color: $color-primary;
                    background-color: #eee;

                    @media (min-width: $grid-breakpoint-lg-min) {
                        color: $color-secondary;
                        background-color: transparent;

                        body.navbar-dynamic:not(.page-scroll-100) & {
                            @media (min-width: $grid-breakpoint-lg-min) {
                                color: $color-secondary;
                            }
                        }
                    }
                }

                &:visited {
                    color: $color-primary;
                }
            }
        }
    }

    .cta {
        width: 100%;

        @media (min-width: $grid-breakpoint-lg-min) {
            width: auto;
        }

        &:not(:first-child) {
            margin-top: 8px;

            @media (min-width: $grid-breakpoint-lg-min) {
                margin-top: 0;
                margin-left: 8px;
            }
        }

        &-outline {
            color: $color-primary;
            background-color: transparent;
            border: 2px solid $color-primary;

            @media (min-width: $grid-breakpoint-lg-min) {
                color: $color-primary;
            }

            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }

            @at-root {
                body.navbar-dynamic:not(.page-scroll-100) & {
                    @media (min-width: $grid-breakpoint-lg-min) {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.nav-pills .nav-link {
    color: $color-primary !important;

    // &:not(.btn):visited {
    //     color: $color-primary;
    // }

    &:hover {
        color: $color-secondary !important;
    }

    &.active {
        color: $color-white !important;
        border-radius: 0;

        &:hover {
            color: $color-white !important;
        }
    }
}
