@use 'variables' as *;

@use "wp_header_comment";

@use "bootstrap/scss/bootstrap.scss" with (
    $body-bg:            $color-white,
    $primary:            $color-primary,
    $link-color:         $color-black,
    $link-hover-color:   $color-black,
    $breadcrumb-divider: quote("/"),
    $grid-gutter-width:  2.31rem, // default 1.5
    $accordion-border-radius: 0,
);

@use "fonts";
@use "common";
