@use 'variables' as *;

@use "wp_header_comment";

// @charset "UTF-8";

@use "bootstrap/scss/bootstrap.scss" with (
    $body-bg:            $color-white,
    $primary:            $color-primary,
    $link-color:         $color-black,
    $link-hover-color:   $color-black,
    $breadcrumb-divider: quote("/"),
    $grid-gutter-width:  2.31rem, // default 1.5
);

// @use "fonts";
@use "content-frame";
// @use "buttons";
// @use "forms";
// @use "common";
// @use "footer";
